@tailwind base;
@tailwind components;
@tailwind utilities;

.tc-homepage__header {
  background: url("~/static/header-left-bg.svg") no-repeat,
    url("~/static/header-right-bg.svg") no-repeat,
    linear-gradient(
      180deg,
      #f5f5f5 0%,
      #f5f5f5 79.34%,
      rgba(245, 245, 245, 0) 100%
    );
  background-position: top left, top right;
  background-size: auto;
}

.tc-our-vision_bg {
  background: linear-gradient(
    180deg,
    #f5f5f5 0%,
    #f5f5f5 79.34%,
    rgba(245, 245, 245, 0) 100%
  );
}


.comma::before {
  content: url("~/static/doublequotationreverse.svg");
  position: relative;
  left: -3rem;
}

.comma::after {
  content: url("~/static/doublequotation.svg");
  position: relative;
  right: -32rem;
}

.tc-our-vision__header {
  background: url("~/static/graph-left-bg.svg") no-repeat,
    url("~/static/graph-right-bg.svg") no-repeat;
  background-position: top 8.5rem left, top 5rem right;
  background-size: contain, contain;
  background-size: auto;
}

@media only screen and (max-width: 1018px) {
  .tc-homepage__header {
    background: url("~/static/header-left-bg.svg") no-repeat,
      url("~/static/header-right-bg.svg") no-repeat,
      linear-gradient(
        180deg,
        #f5f5f5 0%,
        #f5f5f5 79.34%,
        rgba(245, 245, 245, 0) 100%
      );
    background-position: top left, top right;
    background-size: 40%, 40%;
  }
  .tc-our-vision__header {
    background: url("~/static/graph-left-bg.svg") no-repeat,
      url("~/static/graph-right-bg.svg") no-repeat;
    background-position: top 20rem left, top 18rem right;
    background-size: contain, contain;
    background-size: 50%;
  }

.comma::before {
  content: url("~/static/doublequotationreverse.svg");
  position: relative;
  left: 0rem;
}

.comma::after {
  content: url("~/static/doublequotation.svg");
  position: relative;
  right: -24rem;
}

}
