@tailwind base;
@tailwind components;
@tailwind utilities;

.tc-homepage__header {
  background: url("~/static/header-left-bg.svg") no-repeat,
    url("~/static/header-right-bg.svg") no-repeat,
    linear-gradient(180deg,
      #f5f5f5 0%,
      #f5f5f5 79.34%,
      rgba(245, 245, 245, 0) 100%);
  background-position: top left, top right;
  background-size: contain, contain;
  background-size: auto;
}

.tc-our-vision__header {
  background: url("~/static/graph-left-bg.svg") no-repeat,
    url("~/static/graph-right-bg.svg") no-repeat,
    linear-gradient(180deg,
      #f5f5f5 0%,
      #f5f5f5 79.34%,
      rgba(245, 245, 245, 0) 100%);
  background-position: top left, top right;
  background-size: contain, contain;
  background-size: auto;
}